/AdjustableContainer/
/log/
/map downloads/
/telegram downloads/

/autolog
/autoreconnect
/command_history_main
/description
/discordApplicationId
/discordInviteURL
/discordserveroptin
/encoding
/irc_channels
/irc_nick
/login
/media
/port
/profile.aff
/profile.dic
/profile.ini
/ssl_tsl
/telegram_options.lua
/url
